
Data/LCM/LCM_2020/gb2020lcm25m.tif
Data/LCM/LCM_2km/.Rhistory
*.aux
*.tif
*.hdr
*.dbf
*.xml
Data/LCM/LCM_2007/readme.txt
Data/LCM/LCM_2000/lcm-2000-vector/sx_lev2.prj
Data/LCM/LCM_2000/.Rhistory
Data/LCM/LCM_2000/docs/lcm2000_classification_guide.pdf
*.pdf
*.txt
Data/LCM/LCM_2000/lcm-2000-vector/hp_lev2.prj
Data/LCM/LCM_2000/lcm-2000-vector/hp_lev2.shp
*.shx
*.prj
*.shp
*.lyr
*.qml
Data/LCM/LCM_2015/.Rhistory
*.clr
Data/LCM/LCM_2km/lcm_all_classes_2015.csv
Data/LCM/LCM_2km/lcm_all_classes_2019.csv
Data/SEER_GRID/.RhistoryData/SEER_GRID/.RhistoryData/SEER_GRID/.Rhistory
R_scripts/.Rhistory
